* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#todoapp {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

input {
    -webkit-transition: all.5s;
    -moz-transition: all.5s;
    transition: all .5s;
    display: block;
    width: 200px;
    margin: 10px 0;
    padding: 5px 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 50px;
}

input:focus {
    width: 100%;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    border-bottom: none;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px 20px;
}

/* 
input.title-input {
    width: 70%;
} */

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

ul li {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    color: #202124;
    margin-bottom: 10px;
    min-height: 100px;
    width: 200px;
    position: relative;
    margin: 5px;
}

.animacia {
    animation-duration: 1s;
    animation-name: testik;
}

@keyframes testik {
    0% {
        left: -200px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opaity: 1;
    }
}

